<div class="container my-5">
     <h1><center><strong>待って！本当に退会するの.....？？</strong></center></h1>
  

   <div class="row my-5">
    <div class="offset-3">
      <p>当サイトはあなたにとって最高のおもてなしができる物だと自負しています。</p>
      <p>そんな貴方にもう一度考えるチャンスを与えます。</p>
      <p>もし退会すると、会員登録情報やこれまでの購入履歴が閲覧できなくなります。</p>
      <p>万が一、退会する場合は、「退会する」をクリックしてください。</p>
    </div>
   </div>

  <div class="row">
    <div class="offset-3 col-2">
    <%= link_to "やっぱ残る" ,customer_path(current_customer), class: "btn btn-danger" %>

    <!-- 注文履歴一覧へ-->
    </div>
    <div class="offset-2 col-2">
    <%= link_to "やはり退会する" , withdrow_switch_customer_path(@customer),method: :patch, class: "btn btn-primary" %>
    <!-- 会員ステータスを無効に切り替えるswichアクションを呼ぶ-->
    </div>

  </div>
</div>