<h1><strong><center>長 野 C A K E</center></h1></strong>


<div class="introduce">
  <h2><center>~~~本ページの特徴~~~</center></h2>
</div>

<div>
  <p><center>あなたに合ったぴったりの洋菓子をお届けします！！！！！</center></p>
</div>

<div class="about-cake">
  <h3><center>~商品について~</center></h3>
</div>

<div>
  <p><center>当店の自慢のケーキは北海道産の牛乳を、ケーキの生地には高級卵でも知られているうこっけい卵を使用！！！</center></p>
  <p><center>高品質のままお届けので、</center></p>
</div>

