<h1><center>Welcome to <strong>長野 CAKE</strong> !!</center></h1>


<div>
  <h2><center>~~~本サイトの特徴~~~</center></h2>
</div>

<hr>
<div>
  <p><center>当サイトは全国発送可能な長野CAKEの販売サイトです！！</center></p>
  <p><center>あなたに合ったぴったりの洋菓子をお届けします！！！！！</center></p>
</div>
<hr>

<div class="about-cake">
  <h3><center>~商品について~</center></h3>
</div>

<hr>
<div>
  <p><center>当店の自慢のケーキは北海道産の牛乳を、ケーキの生地には高級卵でも知られているうこっけい卵を使用！！！</center></p>
  <p><center>当サイトは、24時間365日年中無休なので、いつでも注文可能です！</center></p>
  <p><center>ご注文の商品については即日発送するので、高品質の状態のまま召し上がれます！！</center></p>
  <p><center>当店の満足度は脅威の<strong>96.8%!!</strong></center></p>
  <p><center>売上ランキングでは中部地方で<strong>18年連続でNO,1</strong>を記録！！</center></p>
</div>
<hr>

<div>
  <h3><center>~こだわりの原材料〜</center></h3>
</div>

<hr>
<div>
  <p><center>新鮮な「北海道産無塩発酵バター」の溶かしバターを生地にたっぷり入れ、厳選したアーモンドパウダーを使用。</center></p>
  <p><center>フランスオペラ社クーベルチュールの上質なホワイトチョコレートでコクと深みを加えた独自の配合でブレンドしました。</center></p>
</div>
<hr>

<div>
  <h3><center>~独自の製法~</center></h3>
</div>

<hr>
<div>
  <p><center>美しい焼き色を纏ったケーキは、芳醇な発酵バターとアーモンドの香りが風味豊かに広がります。</center></p>
  <p><center>素材、配合、生地練り、焼成、全てにこだわり誕生した“長野CAKE”の自信作です。</center></p>
</div>
<hr>

<div class='cake'>
  <center><%= image_tag '長野cake.jpeg' %></center>
</div>




