<h1><strong><center>A B O U T</center></h1></strong>


<div class="introduce">
  <h3><center>~~~本ページの特徴~~~</center></h3>
</div>

<div class="discription">
  <p><center>あなたに合ったぴったりの洋菓子をお届けします！！！！！</center></p>
</div>