<div class = "container">
  
  <div class = "row">
    
    <div class = "col-md-3">
      
      
      
      
    </div>
    
    <div class = "col-md-8 offset-md-1">
      
      <div class = "mo">
        <h1>
        <%= link_to "sign_in", new_customer_registration_path %>
        </h1>
        <h1>
        <%= link_to "log_in", new_customer_session_path %>
        </h1>
        
        <h1>
        <%= link_to "index", cart_items_path %>
        </h1>
      </div>
      
      
      
    </div>
    
  </div>
  
  
  
  
  
  
  
  
</div>